.btn-primary{
	background:#dcedf7;
	width:90%;
	
}
.slide-right .text {
	position:absolute;
    animation: 1s slide-right 0.2s forwards;
    transform:translateX(-100%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

 .text{
	color:#ffffff;
   position:absolute;
   text-align:center;
  font-family:Courier;	
  font-weight:bold;
  margin-left:350px;
  margin-top:100px;
  font-size:45px;
  
}
.selectuser{
  padding:25% auto;
  margin:0 auto;
}
.userdetails{
  margin:0 auto;
  padding:0px 45px;
}
table{
  border:2px solid #800000;
  width:99%;
  margin:2px 10px;
  font-weight: 500;
}
table tr td {
  border:2px solid #800000;
  padding:1.5% 3%;
  text-align: center;
  justify-content: center;
}
table tr th {
  border:2px solid #800000;
  padding:1.5% 3%;
  color:#800000;
  background-color: #fff;
  text-align: center;
  justify-content: center;
}


